/* Global */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI",Arial,sans-serif;
}

body {
    background-color: #2067d3;
    margin: 1in
}

form {
    padding: 10px;
    background: aqua;
    margin-top: 5px;
}

.app-name {
    text-align: center;
    margin: 20px;
    font-size: 40px;
    text-decoration: none;
    color: black;
}

.uButton {
    background-color:var(--accent);
    border:none;
    border-radius: 10px;
    color:white;
    padding: 10px;
}
.uButton2 {
    background-color:darkslateblue;
    border:none;
    border-radius: 5px;
    color:white;
    padding: 5px;
}
.yes {
    background-color:green;
    border:none;
    border-radius: 10px;
    color:white;
    padding: 10px;
}
.no {
    background-color:red;
    border:none;
    border-radius: 10px;
    color:white;
    padding: 10px;
}

.admin-team{
    padding: 10px;
}