/* Global */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background-color: #2067d3;
    margin: 0.2in 1in;
}

form {
    padding: 10px;
    background: aqua;
    margin-top: 5px;
    color: black;
}

ul {
    list-style-type: none;
}

.app-name {
    display: flex;
    text-align: center;
    margin: 20px;
    font-size: 40px;
    text-decoration: none;
    color: black;
}

.app-name img {
    max-width: 100px;
    margin-right: 10px;
}

.app-name:hover {

}

.uButton {
    background-color: var(--accent);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
}

.uButton:hover, .uButton2:hover {
    background-color: aqua;
}

.uButton2 {
    background-color: darkslateblue;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px;
}

.yes {
    background-color: green;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
}

.yes:hover {
    background-color: #00ff00;
}

.no:hover {
    background-color: #ff9898;
}


.no {
    background-color: red;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
}

.admin-team {
    padding: 10px;
}

details[open] {
    transform: translateX(40px);
    transition: all 2s;
}

details {
    transform: revert;
    transition: all 2s;
}