.comp-container {
    width: 450px;
    height: auto;
    margin: auto auto 10px;
    padding: 10px;
}

.comp-container .inner-container {
    display: flex;
    flex-direction: column;
}

.comp-container h2 {
    text-align: center;
    color: #d9d9d9;
}

.comp-container input {
    width: 100%;
    padding: 10px 5px;
    margin-top: 10px;
    background-color: #d9d9d9;
    font-size: 18px;
    border: none;
}

.comp-container button {
    width: 100%;
    padding: 10px 5px;
    margin-top: 30px;
    cursor: pointer;
    font-size: 20px;
}

.comp-container .image-button {
    display: block;
    width: 100%;
    padding: 10px 5px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    border: 1px solid;
}

.comp-container .image-container {
    display: flex;
    position: relative;
    height: 200px;
    justify-content: center;
}

.auth-link-button {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 14px 25px;
    margin-top: 20px;
    background-color: #d9d9d9;
    color: black;
}

.auth-link-button:hover{
    background: #00ffff;
}

.error-text {
    color: #950000cf;
    font-style: italic;
}

/*page contents */
.page-contents-container {
    padding: 25px 0px;
}

.page-contents {
    padding: 10px;
    color:white;
}
.page-contents h2{
    color: white !important;
}
.page-contents form input{
    padding: 4px;
    font-size: 18px;
    line-height: 20px;
}

/* navbar */

.navi {
    display: flex;
    justify-content: space-between;
    background-color: #00209b;
    align-items: center;
    padding: 10px;
}

.navi ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.navi li {
    float: left;
}

.navi ul a {
    display: block;
    color: rgb(219, 219, 219);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navi ul a:hover {
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: large;
}

.navi .active a {
    border-bottom: 3px solid rgb(219, 219, 219);
}

.navi .active a:hover {
    color: rgb(219, 219, 219);
    font-size: inherit;
    font-weight: inherit;
}

.navi .right {
    padding: 0 10px;
}

.navi .logout-button {
    background-color: #3498db; /* Blue background color */
    color: white; /* Text color */
    padding: 10px 20px; /* Button padding */
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth hover effect */
}

.navi .logout-button:hover {
    background-color: #104b72; /* Darker blue on hover */
}

.w50{
    width: 50%;
}


