.feed-container{
    width: auto;
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    /*background-color: aliceblue;*/
    border-radius: 10px;
}
.profileImage{
    width: 50px;
    height: 50px;
    background-size:cover;
    border-radius: 25px;
}

.feed-container .main-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.feedBox{
    display: flex;
    gap: 10px;
    /*background-color: #d2dbe3;*/
    border-radius: 10px;
    padding: 10px;
    flex-direction: column;
}
.feedBox .author{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}

.feedBox .post{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 75%;
    min-height: 100px;
}
.messageBox{
    display: flex;
    flex-direction: row;
    /* border: solid 1px black; */
    padding: 14px;
    border-radius: 20px;
    background: white;
    position: relative;
    gap:20px;
}

.likeBtn{
    background-color: transparent;
    border:none;
    position: absolute;
    bottom: 20px;
    right:20px;
}