
/* Authentication */

.auth-container {
    width: 400px;
    height: auto;
    margin: auto;
    padding: 10px;
}

.auth-container .inner-container {
    display: flex;
    flex-direction: column;
}

.auth-container h2 {
    text-align: center;
    color: #d9d9d9;
}

.auth-container input {
    width: 100%;
    padding: 10px 5px;
    margin-top: 10px;
    background-color: #d9d9d9;
    font-size: 18px;
    border: none;
}

.auth-container button {
    width: 100%;
    padding: 10px 5px;
    margin-top: 30px;
    cursor: pointer;
    font-size: 20px;
}